@page
@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
    <ul>
        <li>
            <a href="/admin/users">Users</a>
        </li>
        <li>
            <a href="/admin/news">News</a>
        </li>
    </ul>
</div>
