@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<h4 class="page-title">Главная</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title mt-2 mb-3">Сообщества</h4>

				<div class="table-responsive">
					<table class="table table-centered table-nowrap table-hover mb-0">
						<tbody>
							<tr>
								<td>
									<h5 class="font-14 my-1 fw-normal">ASOS Ridley High Waist</h5>
									<span class="text-muted font-13">07 April 2018</span>
								</td>
								<td>
									<h5 class="font-14 my-1 fw-normal">$79.49</h5>
									<span class="text-muted font-13">Price</span>
								</td>
								<td>
									<h5 class="font-14 my-1 fw-normal">82</h5>
									<span class="text-muted font-13">Quantity</span>
								</td>
								<td>
									<h5 class="font-14 my-1 fw-normal">$6,518.18</h5>
									<span class="text-muted font-13">Amount</span>
								</td>
							</tr>
							<tr>
								<td>
									<h5 class="font-14 my-1 fw-normal">Marco Lightweight Shirt</h5>
									<span class="text-muted font-13">25 March 2018</span>
								</td>
								<td>
									<h5 class="font-14 my-1 fw-normal">$128.50</h5>
									<span class="text-muted font-13">Price</span>
								</td>
								<td>
									<h5 class="font-14 my-1 fw-normal">37</h5>
									<span class="text-muted font-13">Quantity</span>
								</td>
								<td>
									<h5 class="font-14 my-1 fw-normal">$4,754.50</h5>
									<span class="text-muted font-13">Amount</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div> <!-- end table-responsive-->
			</div> <!-- end card-body-->
		</div> <!-- end card-->
	</div> <!-- end col-->

	<div class="col-xl-3 col-lg-6 order-lg-1">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title">Мероприятия</h4>

				<div id="average-sales" class="apex-charts mb-4 mt-4"
					 data-colors="#727cf5,#0acf97,#fa5c7c,#ffbc00"></div>


				<div class="chart-widget-list">
					<p>
						<i class="mdi mdi-square text-primary"></i> Direct
						<span class="float-end">$300.56</span>
					</p>
					<p>
						<i class="mdi mdi-square text-danger"></i> Affilliate
						<span class="float-end">$135.18</span>
					</p>
					<p>
						<i class="mdi mdi-square text-success"></i> Sponsored
						<span class="float-end">$48.96</span>
					</p>
					<p class="mb-0">
						<i class="mdi mdi-square text-warning"></i> E-mail
						<span class="float-end">$154.02</span>
					</p>
				</div>
			</div> <!-- end card-body-->
		</div> <!-- end card-->
	</div> <!-- end col-->

	<div class="col-xl-3 col-lg-6 order-lg-1">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title mb-2">Последний зарегестрированный пользователь</h4>

				<div data-simplebar style="max-height: 419px;">
					<div class="timeline-alt pb-0">
						<div class="timeline-item">
							<i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-info fw-bold mb-1 d-block">You sold an item</a>
								<small>Paul Burgess just purchased “Hyper - Admin Dashboard”!</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">5 minutes ago</small>
								</p>
							</div>
						</div>

						<div class="timeline-item">
							<i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-primary fw-bold mb-1 d-block">Product on the Bootstrap Market</a>
								<small>
									Dave Gamache added
									<span class="fw-bold">Admin Dashboard</span>
								</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">30 minutes ago</small>
								</p>
							</div>
						</div>

						<div class="timeline-item">
							<i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-info fw-bold mb-1 d-block">Robert Delaney</a>
								<small>
									Send you message
									<span class="fw-bold">"Are you there?"</span>
								</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">2 hours ago</small>
								</p>
							</div>
						</div>

						<div class="timeline-item">
							<i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-primary fw-bold mb-1 d-block">Audrey Tobey</a>
								<small>
									Uploaded a photo
									<span class="fw-bold">"Error.jpg"</span>
								</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">14 hours ago</small>
								</p>
							</div>
						</div>

						<div class="timeline-item">
							<i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-info fw-bold mb-1 d-block">You sold an item</a>
								<small>Paul Burgess just purchased “Hyper - Admin Dashboard”!</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">16 hours ago</small>
								</p>
							</div>
						</div>

						<div class="timeline-item">
							<i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-primary fw-bold mb-1 d-block">Product on the Bootstrap Market</a>
								<small>
									Dave Gamache added
									<span class="fw-bold">Admin Dashboard</span>
								</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">22 hours ago</small>
								</p>
							</div>
						</div>

						<div class="timeline-item">
							<i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
							<div class="timeline-item-info">
								<a href="#" class="text-info fw-bold mb-1 d-block">Robert Delaney</a>
								<small>
									Send you message
									<span class="fw-bold">"Are you there?"</span>
								</small>
								<p class="mb-0 pb-2">
									<small class="text-muted">2 days ago</small>
								</p>
							</div>
						</div>
					</div>
					<!-- end timeline -->
				</div> <!-- end slimscroll -->
			</div>
			<!-- end card-body -->
		</div>
		<!-- end card-->
	</div>
	<!-- end col -->
